.drop {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  z-index: 1;
}
.drop:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index: 1;
}

.icon {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 5px;
  position: fixed;
  /*float: left;*/
  /*clear: left;*/
  z-index: 1;
}

.pig {
  left: 18%;
  top: 44%;
}
.moose {
  left: 25%;
  top: 15%;
}
.sheep {
  left: 25%;
  bottom: 15%;
}
.monkey {
  right: 25%;
  top: 15%;
}
.owl {
  right: 18%;
  top: 44%;
}
.trex {
  right: 25%;
  bottom: 15%;
}

.icon-border {
  position: fixed;
  width: 90px;
  margin: 5px;
  /*z-index: 2;*/
}

.active-rotate {
  transform: rotate(160deg);
  transition-duration: 5s;
}

.color {
  position: fixed;
  bottom: 5%;
  z-index: 1;
}

.color-border {
  position: fixed;
  bottom: 5%;
}

.red {
  left: 36.5%;
}
.pink {
  left: 41%;
}
.yellow {
  left: 46%;
}
.purple {
  right: 46%;
}
.blue {
  right: 41%;
}
.green {
  right: 36.5%;
}


#container {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-250px);
  top: 15%;
  background-image: url('images/onesie.png');
  background-size: 100%;
}

#onesie-design {
  position: relative;
  width: 40%;
  left: 31%;
  top: 25%;
}

#background-blue {
  background-color: var(--bluebackground);
  width: 100%;
  height: 100%;
  float: left;
  z-index: -100;
}

#background-pink {
  background-color: var(--pinkbackground);
  float: right;
  width: 50%;
  height: 100%;
  z-index: -100;
}

@media only screen and (max-width: 1075px) {
  .pig {
    left: 6%;
    top: 44%;
  }
  .moose {
    left: 12%;
    top: 18%;
  }
  .sheep {
    left: 12%;
    bottom: 13%;
  }
  .monkey {
    right: 12%;
    top: 18%;
  }
  .owl {
    right: 6%;
    top: 44%;
  }
  .trex {
    right: 12%;
    bottom: 13%;
  }

  .red {
    left: 30.5%;
  }
  .pink {
    left: 37%;
  }
  .yellow {
    left: 44%;
  }
  .purple {
    right: 44%;
  }
  .blue {
    right: 37%;
  }
  .green {
    right: 30.5%;
  }
.color, .color-border {
  bottom: 3%;
}
  #container {
    width: 450px;
    height: 450px;
    transform: translateX(-225px);
    top: 20%;
  }

@media only screen and (max-width: 650px) {
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .pig {
    left: 20%;
    top: 67%;
  }
  .moose {
    left: 10%;
    top: 75%;
  }
  .sheep {
    left: 30%;
    bottom: 13.5%;
  }
  .monkey {
    right: 10%;
    top: 75%;
  }
  .owl {
    right: 20%;
    top: 67%;
  }
  .trex {
    right: 30%;
    bottom: 13.5%;
  }

  .icon-border {
    width: 50px;
    margin: 5px;
  }

  .color {
    width: 30px;
  }

  .color-border {
    width: 30px;
  }

  .red {
    left: 11.5%;
  }
  .pink {
    left: 25%;
  }
  .yellow {
    left: 38%;
  }
  .purple {
    right: 38%;
  }
  .blue {
    right: 25%;
  }
  .green {
    right: 11.5%;
  }

  #container {
    width: 266px;
    height: 266px;
    transform: translateX(-133px);
    top: 23%;
  }

}

}

@media only screen and (max-width: 650px) {

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .pig {
    left: 20%;
    top: 67%;
  }
  .moose {
    left: 10%;
    top: 75%;
  }
  .sheep {
    left: 30%;
    bottom: 13.5%;
  }
  .monkey {
    right: 10%;
    top: 75%;
  }
  .owl {
    right: 20%;
    top: 67%;
  }
  .trex {
    right: 30%;
    bottom: 13.5%;
  }

  .icon-border {
    width: 50px;
    margin: 5px;
  }

  .color {
    width: 30px;
  }

  .color-border {
    width: 30px;
  }

  .red {
    left: 11.5%;
  }
  .pink {
    left: 25%;
  }
  .yellow {
    left: 38%;
  }
  .purple {
    right: 38%;
  }
  .blue {
    right: 25%;
  }
  .green {
    right: 11.5%;
  }

  #container {
    width: 266px;
    height: 266px;
    transform: translateX(-133px);
    top: 23%;
  }

}
