:root {
  --black: #353535;
  --bluebackground: #D8F0EA;
  --pinkbackground: #FDE0CF;
  --blue: #A7E8D4;
  --pink: #FCCEB6;
  --red: #F91C4C;
  --yellow: #DDEF59;
  --purple: #ACACF2;
  --green: #05CCA6;
}

* {
  font-family: 'Avenir', sans-serif;
}

html {
  max-height: 100%;
}

body {
  margin: 0;
}

#baby-uno-logo {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 175px;
}

nav {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--black);
  position: absolute;
  right: 3%;
  top: 4%;
}

nav a {
  color: var(--black);
  text-decoration: none;
  padding: 30px 20px;
}
