/** {
  border: 1px solid blue;
}*/
#navigation {
  height: 150px;
  background-color: var(--bluebackground);
}

.shop {
  width: 92%;
  margin: 4%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#trex {
  background-color: var(--pinkbackground);
}
#moose {
  background-color: var(--bluebackground);
}

.onesie {
  width: 10%;
  height: 10%;
  position: relative;
  width: 100%;
  margin: 3% 0;
}
.onesie-img {
  width: 100%;
}
.onesie-design {
  position: absolute;
  /*left: 75px;*/
  left: 31%;
  top: 22%;
  width: 40%;
  z-index: 2;
}

.onesie > a {
  color: var(--black);
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  /*width: 100%;*/
}
