/** {
  border: 1px solid blue;
}*/
#navigation {
  height: 150px;
  background-color: var(--bluebackground);
}

.shop {
  width: 92%;
  margin: 4%;
  height: 350px;
  vertical-align: middle;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#trex {
  background-color: var(--pinkbackground);
}
#moose {
  background-color: var(--bluebackground);
}

.onesie {
  width: 250px;
  height: 250px;
  background-size: 100%;
  position: relative;
  width: 100%;
}
.onesie-img {
  width: 100%;
}
.onesie-design {
  position: absolute;
  left: 75px;
  top: 60px;
  width: 40%;
  /*width: 100px;*/
  z-index: 2;
  /*transform: translateX(100px);
  transform: translateY(-0px);*/
}

.onesie > a {
  color: var(--black);
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
