/** {
  border: 1px solid blue;
}*/
#navigation {
  height: 150px;
  background-color: var(--bluebackground);
}

.shop {
  width: 94%;
  margin: 1% 3%;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#trex {
  background-color: var(--lightpink);
}
#moose {
  background-color: var(--lightblue);
}
#sheep {
  background-color: var(--lightpink);
}
#pig {
  background-color: var(--lightblue);
}
#owl {
  background-color: var(--lightpink);
}
#monkey {
  background-color: var(--lightblue);
}

.onesie {
  width: 20%;
  height: 10%;
  margin: 3% 0;
}
.onesie-img {
  width: 100%;
}
.onesie-design {
  width: 32%;
  transform: translateY(-164%) translateX(59%);
  z-index: 1;
  position: absolute;
  top: 36%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.shop > a {
  margin: 0;
  width: 16%;
  color: var(--black);
  text-decoration: none;
  cursor: -webkit-pointer;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
}

a > span {
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 5%;
  color: var(--black);
  line-height: 1.75em;
  z-index: 2;
  font-size: 0.8em;
}
