:root {

}

* {
  font-family: 'PierSans', sans-serif;
}

.bubble {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10px;
  position: fixed;
  left: 0px;

}

#bubble2 {
  background-color: green;
  left: 120px;
}

#container {
  width: 200px;
  height: 200px;
  background-color: blue;
  border: 2px solid black;
  position: fixed;
  right: 0px;

}
