:root {
  --black: #353535;
  --blue: #D8F0EA;
  --pink: #FDE0CF;
  --red: #F91C4C;
  --yellow: #DDEF59;
  --purple: #CDCDF9;
  --green: #05CCA6;

}

* {
  font-family: 'Avenir', sans-serif;
}

body {
  margin: 0;
}

.bubble {
  width: 100px;
  height: 100px;
  /*background-color: red;*/
  /*border: 2px solid black;*/
  border-radius: 50px;
  margin: 10px;
  position: fixed;
  left: 0px;

}

#bubble2 {
  background: url("moose-only.png") no-repeat 25%;
  left: 120px;
  background-size: 80%;
}

#container {
  width: 400px;
  height: 400px;
  /*background-color: white;*/
  /*border: 2px solid black;*/
  position: absolute;
  left: 50%;
  top: 20%;
  background-image: url('images/onesie.png');
  background-size: 100%;
}

#onesie-design {
  position: relative;
  width: 40%;
  left: 30%;
  top: 25%;

}

nav {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--black);
  position: absolute;
  right: 3%;
  top: 3%;
}

nav a {
  color: var(--black);
  text-decoration: none;
  padding: 30px 20px;
}

nav a:active {
  font-weight: bold;
}

#background-blue {
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  float: left;
}

#background-pink {
  background-color: var(--pink);
  float: right;
  width: 50%;
  height: 100%;
}
